@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/* font-family: 'Aclonica', sans-serif; */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: monospace, serif;
    background-image: linear-gradient(269deg, #000000 0%, #2c2929 100%);
    color: aqua;
    position: relative;
    margin: 0px;
    width: 100%;
    /* z-index: 10; */
}

#cursor{
    height: 300px;
    width: 300px;
    position: fixed;
    border-radius: 50%;
    z-index: -1;
    background-color: rgba(255, 255, 0, 0.199);
    filter: blur(30px);
}

#bar-menu{
    display: none;
    align-items: center;
}

#nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 18px 5px yellow;
    transition: all 0.7s;

}

#nav:hover{
    box-shadow: 0px 0px 18px 5px aqua;

}

#nav h2{
    font-family: 'Aclonica', sans-serif;
    color: yellow;
    padding-left: 55px;
}

.navbar{
    /* border: 2px solid black; */
    margin-right: 150px;
    /* align-items: right; */
}

.nav-list{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    color: aqua;
}

.nav-list li{
    list-style: none;
    margin: 0px 25px;
    /* padding-top: 30px; */
    /* color: aqua; */
}

.nav-list li a{
    background: transparent url;
    text-decoration: none;
    /* color: black; */
    color: aqua;
    cursor: pointer;
    /* box-shadow: 0px 0px 15px 6px   yellow; */
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid white; */
}

.nav-list li a:hover{
    transform: scale(1.5% 2%);
    color: yellow;
}

.container .img img{
    height: 458px;
    margin-top: 50px;
    width: 483px;
    border-radius: 50%;
    border: 6px solid aqua;
    box-shadow: -15px 28px 43px 22px aqua;
    transition: all 0.7s;
}

.container .img img:hover{
    box-shadow: 15px -28px 43px 22px yellow;
    border: 6px solid yellow;   
}

.about{
    width: 600px;
    padding-left: 60px;
    padding-top: 60px;
}

.about h4{
    font-size: 30px;
    padding-bottom: 20px;
    color: yellow;
}

.about h2{
    font-size: 40px;
    padding-bottom: 15px;
}

.about p{
    width: 500px;
}


span{
    color: yellow;
}

.btn{
    margin-top: 20px;
}

.btn1 {
    background-color: yellow;
    height: 30px;
    padding: 0px 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 15px 4px   white;
    transition: all 0.5s;
}

.btn1:hover{
    box-shadow: 0px 0px 15px 4px   yellow;
    background-color: white;
    cursor: pointer;
    color: black;
}

.btn2{
    margin-left: 15px;
    height: 30px;
    background-color: white;
    padding: 0px 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 15px 4px   yellow;
    transition: all 0.5s;
    color: black;
}

.btn2:hover{
    box-shadow: 0px 0px 15px 4px   white;
    background-color: yellow;
    cursor: pointer;
    color: black;
}

.icon{
    display: flex;
    /* border: 2px solid white; */
    width: 300px;
    margin-top: 50px;
    justify-content: space-between;
}

.icon1 i{
    font-size: 40px;
    color:aqua;
    transition: all 0.5s;

}

/* .icon1 i:hover{
    box-shadow: 0px 0px 15px 4px   white;
} */

.icon2 i{
    font-size: 50px;
    color:aqua;
    transition: all 0.5s;

}
.icon3 i{
    font-size: 50px;
    color:aqua;
    transition: all 0.5s;

}
.icon4 i{
    font-size: 50px;
    color:aqua;
    transition: all 0.5s;

}

.icon4 i:hover{
    color: yellow;
}
.icon3 i:hover{
    color: yellow;
}
.icon2 i:hover{
    color: yellow;
}
.icon1 i:hover{
    color: yellow;
}


@media (max-width: 799px){
    
    .nav-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 80px;
        width: 300px;
        height: 100vh;
        background-color: transparent ;
        /* box-shadow: 0px 0px 8px rgba(128, 128, 128, 0.466) ; */
        padding: 80px 0px 0px 10px;
    }

    .navbar {
        /* border: 2px solid black; */
        margin-right: 0px;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}