*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace, serif;
    background-image: linear-gradient(269deg, #000000 0%, #4a4747 100%);
    color: aqua;
}

nav{
    height: 100px;
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: right;
    /* border: 2px solid red; */
}

.navbar{
    /* border: 2px solid black; */
    margin-right: 150px;
    /* align-items: right; */
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
}

.nav-list li{
    list-style: none;
    margin: 0 25px;
    padding-top: 30px;
    color: aqua;
}

.nav-list li a{
    text-decoration: none;
    color: black;
    color: aqua;
}